import yaml
from launch import LaunchDescription
from launch.actions import DeclareLaunchArgument, IncludeLaunchDescription
from launch.substitutions import LaunchConfiguration
from launch.launch_description_sources import PythonLaunchDescriptionSource
from launch_ros.actions import Node
from ament_index_python.packages import get_package_share_directory
from launch.substitutions import PythonExpression

def generate_launch_description():
    return LaunchDescription([
        DeclareLaunchArgument('odom_topic', default_value='/state_estimation'),
        DeclareLaunchArgument('terrain_cloud_topic', default_value='/terrain_map_ext'),
        DeclareLaunchArgument('terrain_local_topic', default_value='/terrain_map'),
        DeclareLaunchArgument('scan_cloud_topic', default_value='/registered_scan'),
        DeclareLaunchArgument('config', default_value='default'),

        Node(
            package='far_planner',
            executable='far_planner',
            name='far_planner',
            output='screen',
            parameters=[
                PythonExpression([
                '"', 
                get_package_share_directory('far_planner'), 
                '/config/', 
                LaunchConfiguration('config'), 
                '.yaml"'])
            ],
            remappings=[
                ('/odom_world', LaunchConfiguration('odom_topic')),
                ('/terrain_cloud', LaunchConfiguration('terrain_cloud_topic')),
                ('/scan_cloud', LaunchConfiguration('scan_cloud_topic')),
                ('/terrain_local_cloud', LaunchConfiguration('terrain_local_topic'))
            ]
        ),
        
        Node(
            package='rviz2',
            executable='rviz2',
            name='far_rviz',
            arguments=['-d', 
                PythonExpression([
                '"', 
                get_package_share_directory('far_planner'), 
                '/rviz/', 
                LaunchConfiguration('config'), 
                '.rviz"'])
            ],
            respawn=False,
        ),

        # Including another launch file
        IncludeLaunchDescription(
            PythonLaunchDescriptionSource([get_package_share_directory('graph_decoder'), '/launch/decoder.launch'])
        )
    ])
